.user-icon-btn {
    background: none;
    border: 1px solid inherit;
    padding: 0;
    background: #000000;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    outline: 1px solid #fff;
}

.user-icon {
    height: 30px;
    width: 30px;
}

.user-dropdown {
    position: absolute;
    width: 20%;
    right: 30px;
    top: 4rem;
    z-index: 1;
    background-color: #2e93f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
}

.user-dropdown-items {
    display: flex;
    flex-direction: column;
}

.user-dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    right: 1rem;
}
.user-dropdown-item-btn-logout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    padding-top: .5rem;
    background-color: inherit;
}
.user-dropdown-item:hover {
    background-color: #f5f5f5;
    color: #333;
}

.user-dropdown-item-logout {
    color: #fff;
}
.user-dropdown-item-logout:hover{
    color: #f51238;
}


.show__dropdown {
    display: flex;
}

.hide__dropdown {
    display: none;
}